* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif; }

header img {
  width: 150px;
  height: 24px;
  align-self: center;
  margin-top: 60px; }

.header__tittle-container {
  width: 90%;
  height: 218px;
  min-width: 288px;
  max-width: 900px;
  margin-top: 40px;
  align-self: center;
  text-align: center; }

.header__tittle-container p {
  margin-top: 24px; }

.header__button {
  position: absolute;
  width: 229px;
  height: 48px;
  padding: 15px;
  top: calc(100% - (48px/2));
  left: calc(50% - (229px/2));
  color: #201E1C; }

.header__button span {
  width: 12px;
  height: 7.41px;
  margin-left: 10px;
  display: inline-block;
  background-image: url(assets/icons/down-arrow.svg); }

.main-intercambio__background {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  margin-bottom: 40px; }

.main-intercambio__titulo {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  height: auto; }

.main-intercambio__titulo h2 {
  margin-bottom: 24px; }

.main-intercambio__titulo p {
  margin-bottom: 48px; }

.main-intercambio-tabla__titulo {
  margin-left: 12px;
  margin-bottom: 12px;
  text-align: start; }

.main-intercambio__tabla {
  width: 65%;
  margin: 0 auto; }

.coins-container {
  min-width: 203px;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 1px;
  margin-bottom: 16px; }

.coins-container .nombre-coin {
  padding: 8px;
  text-align: start; }

.precio-coin {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.precio-coin--modificado {
  justify-content: center; }

.precio-coin span {
  margin-right: 12.5px;
  width: 15px;
  height: 15px;
  display: inline-block; }

.main-intercambio__date {
  padding: 8px;
  margin-bottom: 64px; }

.main-info {
  width: 100%;
  min-width: 320px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-info__icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(0% - 22px/2); }

.main-info__titulo {
  margin-top: 50px;
  text-align: center; }

.main-info__titulo h2 {
  margin-bottom: 24px; }

.main-info__titulo p {
  margin-bottom: 32px; }

.main-info-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px; }

.main-info-cards__card {
  width: 65%;
  min-width: 288px;
  height: 152px;
  padding: 15px;
  margin-bottom: 16px; }

.main-info-cards__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 12px; }

.main-info-cards__card h3 {
  margin-bottom: 10px; }

.main-decorativo {
  width: 100%;
  min-width: 320px;
  height: 387px;
  background-image: url(assets/img/bitcoinbaby2x.jpg);
  background-size: contain;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center; }

.main-decorativo p {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 64px; }

header {
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); }

.header__tittle-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #FFFFFF; }

.header__tittle-container p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #FFE9D5; }

.header__button {
  background-color: #FAF8F7;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  text-decoration: none; }

.main-intercambio {
  background-color: #FAF8F7; }

.main-intercambio__background {
  background: url(assets/img/Bitcoin.svg); }

.main-intercambio__titulo h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-align: center;
  color: #201E1C; }

.main-intercambio__titulo p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575; }

.main-intercambio-tabla__titulo {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #FF9536; }

.main-intercambio-tabla__titulo--modificador {
  color: #1A9AF7; }

.coins-container div {
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF; }

.nombre-coin {
  font-size: 1.6rem;
  font-weight: 500;
  color: #b5b0ac; }

.precio-coin {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #757575; }

.precio-coin span {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./assets/icons/trending-down.svg); }

.coins-container div:nth-child(6) span {
  background-image: url(./assets/icons/trending-up.svg); }

.coins-container div:nth-child(1) {
  border-top-left-radius: 4px; }

.coins-container div:nth-child(4) {
  border-bottom-left-radius: 4px; }

.coins-container div:nth-child(5) {
  border-top-right-radius: 4px; }

.coins-container div:nth-child(8) {
  border-bottom-right-radius: 4px; }

.main-intercambio__date {
  background-color: #FFE9D5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #201E1C; }

.main-intercambio__date--modificado {
  background-color: #E7F5FF; }

.main-info {
  background-color: #201E1C; }

.main-info__icon {
  background-image: url(assets/icons/batata.svg);
  background-repeat: no-repeat;
  background-size: contain; }

.main-info__titulo h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #FFFFFF; }

.main-info__titulo p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080; }

.main-info-cards__card {
  background-color: #282623;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px; }

.main-info-cards__icon {
  background-image: url("/assets/icons/clock.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.main-info-cards__card h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #FFFFFF; }

.main-info-cards__card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #808080; }

.main-info-cards__icon--eye {
  background-image: url("assets/icons/eye.svg"); }

.main-info-cards__icon--dollar-sign {
  background-image: url("assets/icons/dollar-sign.svg"); }

.main-info-cards__icon--check-circle {
  background-image: url("assets/icons/check-circle.svg"); }

header {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main-intercambio {
  width: 100%;
  height: auto;
  min-width: 320px;
  text-align: center;
  padding-top: 80px; }

/*# sourceMappingURL=style.css.map */
