//----------------header----------------
header {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
//----------------main----------------
.main-intercambio {
    width: 100%;
    height: auto;
    min-width: 320px;
    text-align: center;
    padding-top: 80px;
}

